{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <h1>Liste des produits </h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Categorie</th>
            <th>Ajouter au panier</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category.name }}</td>
                <td>
                    <form action="{{ path('app_products_add_to_cart', {'id': product.id}) }}" method="post">
                        <button type="submit">🛒</button>
                    </form>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="5">Pas de produits disponibles</td>
            </tr>
        {% endfor %}
        <a href="{{ path('app_order_index') }}">
            <button>🛒 Voir mon panier</button>
        </a>
        </tbody>
    </table>
{% endblock %}
